<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>ChatJS</title>
        <link rel="stylesheet" type="text/css" href="/css/chat.css">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="/js/chat.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div id="chat-container">
            <div id="search-container">
                <i class="fa fa-chevron-left arrow" id='goDashboard' style="font-size: 40px;color: grey;cursor:pointer;"></i>
            </div>
            <div id="participants-list">
                <% global_chat.chats.forEach(function(chat){ %>
                    <% if (chat.is_active){ %>
                        <div class="participant selected" value = "<%= chat.chat_id %>">
                    <% } else { %>
                        <div class="participant" value = "<%= chat.chat_id %>">
                    <% } %>
                    <% if (chat.is_pvt){ %>
                        <img src="./images/<%= chat.icon %>.png"/>
                    <% } else { %>
                        <img src="./images/groups2.png"/>
                    <% } %>
                        <div class="name">
                            <%= chat.name %>
                        </div>
                        <div class="created-date">
                            <%= chat.last_msg_time == null ? '' : chat.last_msg_time.toTimeString().split(' ')[0].substring(0, 5)  %>
                        </div>
                        <div class="conversation-message">
                            <%= chat.last_msg_time == null ? '' : chat.last_msg_author + ': ' + chat.last_msg %>
                        </div>
                    </div>
                <% }) %>

            </div>
            <div id="new-message-container">
                <a href="/users/logout">
                    <img src="/images/logout.jpg"/>
                </a>
            </div>
            <div id="chat-title">
                <span><%= global_chat.title %></span>
            </div>
            <div id="chat-message-list">

                <% global_chat.msgs.forEach(function(message){ %>
                    <% if (message.is_self){ %>
                        <div class="message-row you-message">
                            <div class="message-content">
                                <div class="message-text">
                                    <%= message.content %>
                                </div>
                                <div class="message-time">
                                    <%= message.date.toLocaleString() %>
                                </div>
                            </div>
                        </div>
                    <% } else{ %>
                        <div class="message-row other-message">
                            <div class="message-content">
                                <span>
                                    <%= message.author %>
                                </span>
                                <img src="./images/<%= message.icon %>.png"/> 
                                <div class="message-text">
                                    <%= message.content %>
                                </div>
                                <div class="message-time">
                                    <%= message.date.toLocaleString() %>
                                </div>
                            </div>
                        </div>
                    <% } %>
                <% }) %>

            </div>
            <form id="chat-form">
                <input type="text" placeholder="type a message" id="message-input" autocomplete="off"/>
                <input type="submit" />
            </form>
        </div>

        <div id="dashboard-container">
            <div id="top-space1">
                
            </div>
            <div id="top-space2">
                <i class="fa fa-chevron-right arrownext" id='goChat' style="font-size: 40px;color: grey;cursor:pointer;"></i>
            </div>
            <div id = 'create-chat'>
                <div id = 'create-public'>
                    <div id= 'create-chat-title' class='create-title'>Create Public Chat</div>
                    <div class='center'>
                        <div id='create-public-container'>
                            <input type="text" placeholder="Type Chat Name" id="create-public-input" class='input' autocomplete="off"/>
                            <input type="submit" value= "Create" class='submit' id="create-public-submit">
                        </div>
                    </div>
                </div>
                <div id = 'create-private'>
                    <div class='create-title'>Chat to User</div>
                    <div class='center'>
                        <div id='create-pvt-container'>
                            <input type="text" placeholder="Type User Email" id="create-pvt-input" class='input' autocomplete="off"/>
                            <input type="submit" value= "Chat" id="create-pvts-submit" class='submit'>
                        </div>
                    </div>
                </div>
                <div id = 'create-icon'>
                    <div class='create-title'>Profile Icon</div>
                    <div class='center'>
                        <i class="fa fa-chevron-left arrow" onclick='leftArrowClick()' style="font-size: 20px;"></i>
                        <img src= '/images/<%= user.icon %>.png' id='iconimg' width='80px' alt = <%= user.icon %>>
                        <i class="fa fa-chevron-right arrow" onclick='rightArrowClick()' style="font-size: 20px;"></i>
                    </div>
                </div>
            </div>
            <div id = 'search-chat'>
                <div class='search-title'>Search Chat</div>
                <div class='center'>
                    <div id='search-chat-container'>
                        <input type="text" placeholder="Type Chat Name" id='search-input' class='input' autocomplete="off"/>
                        <div id='chats'>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
